.title {
  color: rgb(193, 189, 189);
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: rgb(131, 127, 249);
  font-family: 'Press Start 2P', cursive;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.login {
  display: block;
  width: 50px;
  padding: 1px 0px;
  /* margin: 20px auto; */
  background: #6fa3c2;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.legion {
  color: rgb(131, 127, 249);
  text-align: center;
  font-size: 7em;
  font-weight: 100;
  text-shadow: black;
  font-family: 'Press Start 2P', cursive;
}
